BR2_aarch64=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_AARCH64_UCLIBC_STABLE=y
BR2_DL_DIR="${BR2_EXTERNAL_CURIOS_PATH}/dl"
BR2_CCACHE=y
BR2_CCACHE_DIR="${BR2_EXTERNAL_CURIOS_PATH}/.ccache"
BR2_TARGET_GENERIC_HOSTNAME="curiOS"
BR2_TARGET_GENERIC_ISSUE="Welcome to curiOS"
BR2_PACKAGE_NETOPEER2=y
BR2_PACKAGE_NETOPEER2_CLI=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_MINI_SNMPD=y
BR2_TARGET_ROOTFS_OCI=y
BR2_TARGET_ROOTFS_OCI_AUTHOR="curiOS"
BR2_TARGET_ROOTFS_OCI_TAG="edge"
BR2_TARGET_ROOTFS_OCI_PORTS="22/tcp 161/tcp 161/udp"
BR2_TARGET_ROOTFS_OCI_LABELS=".url=https://github.com/kernelkit/curiOS .title=curiOS"
