BR2_x86_64=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_X86_64_UCLIBC_STABLE=y
BR2_DL_DIR="${BR2_EXTERNAL_CURIOS_PATH}/dl"
BR2_CCACHE=y
BR2_CCACHE_DIR="${BR2_EXTERNAL_CURIOS_PATH}/.ccache"
BR2_STATIC_LIBS=y
BR2_TARGET_GENERIC_HOSTNAME="curiOS"
BR2_TARGET_GENERIC_ISSUE="Welcome to curiOS"
BR2_INIT_NONE=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
BR2_SYSTEM_BIN_SH_NONE=y
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_CURIOS_PATH)/board/common/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_CURIOS_PATH)/board/common/post-image.sh"
# BR2_PACKAGE_BUSYBOX is not set
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDC=y
BR2_PACKAGE_NTP_NTPQ=y
BR2_PACKAGE_TINI=y
BR2_TARGET_ROOTFS_OCI=y
BR2_TARGET_ROOTFS_OCI_AUTHOR="curiOS"
BR2_TARGET_ROOTFS_OCI_TAG="curios-ntpd"
BR2_TARGET_ROOTFS_OCI_ENTRYPOINT="/usr/bin/tini --"
BR2_TARGET_ROOTFS_OCI_CMD="/usr/sbin/ntpd -n -g"
BR2_TARGET_ROOTFS_OCI_PORTS="123/udp"
BR2_TARGET_ROOTFS_OCI_LABELS=".url=https://github.com/kernelkit/curiOS .title=curiOS-ntpd"
# BR2_TARGET_ROOTFS_TAR is not set
